package main

{{range .TableInfo}}
type {{UpperFirst .TableName}} struct {
	{{range .Columns -}}
		{{ToCamel .Field}}  {{ConvertType .ShortType}}  `xorm:"{{.Type}}{{GetXormFieldInfo .}}" json:"{{JsonField .Field}},omitempty"`
	{{end}}
}
{{end}}